dist/
node_modules/
android/
ios/
__tests__/
vendor/
README.md
yarn.lock
package.json
.eslintrc.js
.gitignore
.prettierignore
.prettierrc
.watchmanconfig
app.json
babel.config.js
Gemfile
Gemfile.lock
index.js
jest.config.js
metro.config.js
tsconfig.json
